.about {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 6em;
  padding-bottom: 8em;
}
.about__txt {
  font-family: Helvetica, sans-serif;
  color: #444;
  line-height: 1.5;
  font-size: 18px;
  text-align: center;
}
.audio {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2em;
  text-align: center;
}
body {
  color: #444;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: Helvetica sans-serif;
  font-size: 18px;
}
.icon {
  padding-top: 3em;
  padding-bottom: 2em;
  font-size: 48px;
  text-align: center;
}
.intro {
  height: 100vh;
}
.title {
  font-family: 'henri_didot', serif;
  text-align: center;
  font-size: 78px;
  font-weight: normal;
  color: #444;
  margin: 0;
}
.title_intro {
  padding-top: 20vh;
}
.track {
  height: 100vh;
}
