body {
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.intro {
  height: 100vh;
}
.intro__title {
  font-family: Caslon, serif;
  text-align: center;
  font-size: 100px;
  font-weight: normal;
  margin: 0;
  padding-top: 20vh;
}
.track {
  height: 100vh;
}
