.about {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 6em;
  padding-bottom: 8em;
}
.about__txt {
  font-family: Helvetica, sans-serif;
  color: #444;
  line-height: 1.5;
  font-size: 18px;
  text-align: center;
}
.audio {
  height: 20vh;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2em;
  text-align: center;
}
audio {
  width: 70%;
}
* {
  box-sizing: border-box;
}
body {
  color: #444;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.border {
  height: 300px;
}
.footer {
  background-color: #eee;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
}
.footer__link {
  font-family: Helvetica, sans-serif;
  color: #008000;
  text-decoration: none;
}
.gallery {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20vh;
}
.gallery__link {
  display: block;
  float: left;
  margin: 0;
  width: 33.333333%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery__link_tree {
  background-image: url("../pic/thumb/tree.jpg");
}
.gallery__link_leaf {
  background-image: url("../pic/thumb/leaf.jpg");
}
.gallery__link_garden {
  background-image: url("../pic/thumb/garden.jpg");
}
.gallery__link_chicken {
  background-image: url("../pic/thumb/chicken.jpg");
}
.gallery__link_alder {
  background-image: url("../pic/thumb/alder.jpg");
}
.gallery__link_dog-eat {
  background-image: url("../pic/thumb/dog-eat.jpg");
}
.gallery__link_garden02 {
  background-image: url("../pic/thumb/garden02.jpg");
}
.gallery__link_dog-weed {
  background-image: url("../pic/thumb/dog-weed.jpg");
}
.gallery__link_fog {
  background-image: url("../pic/thumb/fog.jpg");
}
.gallery__link_tree {
  background-image: url("../pic/thumb/tree.jpg");
}
.gallery__link_kitchen {
  background-image: url("../pic/thumb/kitchen.jpg");
}
.gallery__link_land {
  background-image: url("../pic/thumb/land.jpg");
}
.gallery__link_village {
  background-image: url("../pic/thumb/village.jpg");
}
.gallery__link_weed {
  background-image: url("../pic/thumb/weed.jpg");
}
.gallery__link_sunny {
  background-image: url("../pic/thumb/sunny.jpg");
}
.gallery__link_yellow {
  background-image: url("../pic/thumb/yellow.jpg");
}
.icon {
  padding-top: 3em;
  padding-bottom: 2em;
  font-size: 48px;
  text-align: center;
}
.intro {
  height: 100vh;
}
.pic {
  height: 80vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.kitchen {
  background-image: url("../pic/kitchen.jpg");
}
.chicken {
  background-image: url("../pic/chicks.jpg");
}
.birds {
  background-image: url("../pic/yellow.jpg");
}
.rain {
  background-image: url("../pic/rainy-field.jpg");
}
.village {
  background-image: url("../pic/village.jpg");
}
.dog-weed {
  background-image: url("../pic/dog-weed.jpg");
}
.title {
  font-family: 'henri_didot', serif;
  text-align: center;
  font-size: 78px;
  font-weight: normal;
  color: #444;
  margin: 0;
}
.title_intro {
  padding-top: 20vh;
}
.title_track {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 0;
}
.title_gallery {
  padding-top: 20vh;
  padding-bottom: 1em;
}
